# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pyc

# Virtual environments
venv/
.env/
.env
.venv/

# Pytest
.pytest_cache/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Git
*.orig
*.lock
